.PMwrapper {
  position: relative;
  /*img {
        position:absolute;
        z-index:1;
    }*/

}
.PMwrapper_selected {
  background-color: balck;
}
.PMimageDiv {
  background-color: #161616;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.PMoverlay {
  background-color: #161616;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0.3;
}
.PMwindow {
  border-radius: 15px;
  color: #cccccc;
}
#PMToolBar {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  color: #cccccc;
  z-index: 4;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
